@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background: url('img/background.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Navigation*/
nav.nav img{
    width: 120px;
    padding: 10px;
}
nav.nav{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    top:0;
    background-color: none;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    color:white;
    transition: all 0.3s ease-out;
}
nav.nav.scroll{
    background-color:rgba(243, 243, 243, 0.945);
    color:black;
    transition: all 0.3s ease-out;
}
.onglet{
    list-style: none;
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
}
.onglet li{
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}
.nav a{ 
    text-decoration:none;
    color:white;
}
.nav a.scroll{
    color:black;
    transition: all 0.3s ease-out;
}

.nav a:hover{
    color:#10E59E;
}


/*Landing Page*/
.landing-page{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction:column;
}
.landing-page h1{
    font-size: 100px;
    width: 30%;
    max-width: 50%;
    margin-left: 100px;
    margin-top: 250px;
    color: white;
    line-height: 100px;
    text-shadow: 3px 0px 0px #e2e2e2;
}
.landing-page h2{
    margin: 0;
    margin-left: 100px;
    font-size: 80px;
    color: white;
    text-shadow: 3px 0px 0px #e2e2e2;
}
span.highlight{
    color:#10E59E;
    text-shadow: 3px 0px 0px #0fa774;
}
.landing-page button{
    display: flex;
    justify-content:center;
    width: 200px;
    font-size: 30px;
    padding: 8px;
    margin: 50px;
    margin-left: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.landing-page button:hover{
    color:#10E59E;
}


/*About*/
.about{
    display: flex;
    margin: 200px 0 200px 0;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}

.about img{
    width: 300px;
}
.about-text{
    width:40%;
    text-align: left;
}
.about h2{
    font-size:40px;
    position: relative;
    
}
.about h2::before{
    content: "";
    background-color: #10E59E;
    width:180px;
    height:5px;
    position: absolute;
    bottom: 0;
}
.about p{
    font-size:20px;
    
}
.about button{
    display: flex;
    justify-content:center;
    width: 100px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
}

.about a{ 
    text-decoration:none;
    color:Black;
}
.about a:hover{ 
    text-decoration:none;
    color:#10E59E;
    
}


/*skills*/
.work-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:400px;
    padding: 50px;
    background-color: white;
}
.work h2{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    position:relative;
}
.work h2::before{
    content: "";
    background-color: #10E59E;
    width:125px;
    height:5px;
    position: absolute;
    bottom: 0;
}
.work-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.work-view{
    display: flex;
    background-image: url("img/work1.png");
    height: 400px;
    width: 600px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    color:rgba(0, 0, 0, 0);
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s ease-out;
}

.work-img-1{
    background-image: url("img/film2watch.png");
}

.work-view:hover{
    filter:opacity(0.7);
    color:white;
    font-size: 30px;
    transition: all 0.3s ease-out;
    
}


.contact-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 300px 500px 300px 500px;
    height: 900px;
    
    min-width: 600px;
}
.contact h2{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    position:relative;
}
.contact h2::before{
    content: "";
    background-color: #10E59E;
    width:180px;
    height:5px;
    position: absolute;
    bottom: 0;
}
.form-group{
    display: flex;
    
    flex-direction: column;
}

.contact-div input{
   height: 50px;
   width: 300px;
}

.contact-div input[type=text]:focus{

    border: 2px solid #10E59E;
    outline: none;
}

.contact-div textarea:focus{

    border: 2px solid #10E59E;
    outline: none;
}

.contact-div button{
    margin-top: 30px ;
    height:80px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
}

.contact-div button:hover{
    color: #10E59E;
}

footer{
    display: flex;
    margin-top: 20px;
    background-color: white;
}
footer p{
    margin-left: 100px;
}

@media screen and (max-width:1200px) {

    .work{
        margin:0;
    }
    .contact-div{
        margin:0;
        margin-top: 200px;
        margin-bottom: 200px;
    }
    
}